
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sample-lp-sQy {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-lwcy-MjT {
    margin-bottom: 9.1rem;
    width: 100%;
    height: 245.2327rem;
    position: relative;
    flex-shrink: 0;

    .step-bvd {
      flex-direction: column;
      width: 97rem;
      height: 44.7rem;
      position: absolute;
      left: 25rem;
      top: 200.5327rem;
      align-items: flex-end;
      display: flex;

      .title-poP {
        margin-bottom: 1.9rem;
        width: 18rem;
        height: 6.9rem;
        position: relative;
        flex-shrink: 0;

        .h2-gKo {
          height: 5.3rem;
          position: absolute;
          left: 0;
          line-height: 1.4475;
          font-family: Noto Sans JP, 'Source Sans Pro';
          width: 12.3rem;
          top: 0;
          font-size: 3.6rem;
          font-weight: 700;
          color: #121212;
          white-space: nowrap;
        }
        .step-2ny {
          left: 10rem;
          top: 5.2rem;
          display: flex;
          align-items: center;
          width: 8rem;
          height: 1.7rem;
          position: absolute;

          .vector-35-3i5 {
            width: 5rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.5rem 0.1rem 0rem;
          }
          .step-SER {
            line-height: 1.3625;
            color: #121212;
            font-family: Noto Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
      .contents-XYh {
        flex-shrink: 0;
        margin-right: 3rem;
        height: 35.9rem;
        display: flex;
        column-gap: 17rem;
        align-items: center;

        .item-1-om7 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 20rem;
          height: 100%;

          .h4-717 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #121212;
            font-family: Noto Sans, 'Source Sans Pro';
          }
          .icontext-Kcy {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .icon1-img-yhX {
              height: 20rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 2rem;
              width: 20rem;
            }
            .text-NzZ {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0 1.85rem;
              width: calc(100% - 3.7rem);

              .h3-2pD {
                margin-bottom: 1rem;
                font-size: 2.4rem;
                line-height: 1.4475;
                font-family: Noto Sans JP, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-weight: 700;
                color: #121212;
                flex-shrink: 0;
              }
              .text-4F7 {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 16.3rem;
              }
            }
          }
        }
        .item-2-g1b {
          flex-direction: column;
          flex-shrink: 0;
          width: 20rem;
          height: 100%;
          align-items: center;
          display: flex;

          .h4-PAu {
            color: #121212;
            font-family: Noto Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3625;
          }
          .icontext-fu7 {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .icon2-img-Yi1 {
              height: 20rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 2rem;
              width: 20rem;
            }
            .text-15o {
              margin: 0 2.75rem;
              width: calc(100% - 5.5rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .h3-3YH {
                font-weight: 700;
                line-height: 1.4475;
                white-space: nowrap;
                flex-shrink: 0;
                font-family: Noto Sans JP, 'Source Sans Pro';
                margin-bottom: 1rem;
                text-align: center;
                font-size: 2.4rem;
                color: #121212;
              }
              .text-HhX {
                max-width: 14.5rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
        }
        .item-3-NU5 {
          width: 20rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .h4-VYh {
            font-weight: 700;
            line-height: 1.3625;
            color: #121212;
            font-family: Noto Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
            font-size: 2rem;
          }
          .icontext-zEZ {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .icon-3-VSD {
              width: 20rem;
              height: 20rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 2rem;
            }
            .text-ngD {
              flex-direction: column;
              flex-shrink: 0;
              margin: 0 3.35rem;
              width: calc(100% - 6.7rem);
              align-items: center;
              display: flex;

              .h3-tz9 {
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 2.4rem;
                font-weight: 700;
                color: #121212;
                text-align: center;
                line-height: 1.4475;
                white-space: nowrap;
              }
              .text-zXP {
                max-width: 13.3rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .background-img-ojj {
      width: 144rem;
      height: 110.5rem;
      position: absolute;
      left: 0;
      top: 91rem;

      .background-DoT {
        width: 144rem;
        height: 102.2229rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-209-Gmj {
        width: 144rem;
        height: 81.53rem;
        position: absolute;
        left: 0;
        top: 14.1746rem;
        background-color: #9d1515;
      }
      .background-xPf {
        height: 100.5561rem;
        position: absolute;
        left: 0;
        top: 9.9439rem;
        object-fit: contain;
        vertical-align: top;
        width: 144rem;
      }
      .voice-G9T {
        top: 41.6rem;
        box-sizing: border-box;
        padding-bottom: 0.5rem;
        width: 100rem;
        height: 49.9941rem;
        position: absolute;
        left: 22rem;

        .title-Lf7 {
          height: 6.9rem;
          position: relative;
          margin-bottom: 1.9rem;
          width: 18.1rem;

          .h2-r7f {
            position: absolute;
            top: 0;
            line-height: 1.4475;
            width: 18.1rem;
            height: 5.3rem;
            left: 0;
            font-size: 3.6rem;
            font-weight: 700;
            color: #121212;
            font-family: Noto Sans JP, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-231-eJR {
            left: 0;
            top: 5.2rem;
            display: flex;
            align-items: center;
            width: 8.5rem;
            height: 1.7rem;
            position: absolute;

            .vector-35-WbX {
              margin: 0rem 0.5rem 0.1rem 0rem;
              width: 5rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .voice-LqT {
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.3625;
              color: #121212;
              font-family: Noto Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .voice-z9K {
          width: calc(100% - 0.5rem);
          height: 40.6941rem;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          margin-right: 0.5rem;

          .item-1-THo {
            margin: 0.01rem 4.9rem 0.01rem 0rem;
            width: 47.3rem;
            height: calc(100% - 0.0205rem);
            position: relative;
            flex-shrink: 0;

            .rectangle-188-54H {
              height: 35.2rem;
              position: absolute;
              left: 0;
              top: 5.4737rem;
              box-shadow: 0.5rem 0.5rem 0 #222222;
              background-color: #ffffff;
              width: 47.3rem;
            }
            .item-100-MGh {
              height: 11.6rem;
              font-size: 1.6rem;
              line-height: 1.4475;
              letter-spacing: -0.08rem;
              font-family: Noto Sans JP, 'Source Sans Pro';
              width: 42.4rem;
              position: absolute;
              left: 2.5rem;
              top: 22.3737rem;
              font-weight: 500;
              color: #121212;
            }
            .ol-ZvV {
              left: 33.7rem;
              top: 33.8737rem;
              font-weight: 500;
              font-family: Noto Sans JP, 'Source Sans Pro';
              height: 2.4rem;
              position: absolute;
              font-size: 1.6rem;
              line-height: 1.4475;
              letter-spacing: -0.08rem;
              color: #121212;
              white-space: nowrap;
              width: 8.9rem;
            }
            .before68kg-Wz9 {
              height: 4.1rem;
              top: 11.2737rem;
              font-size: 2.8rem;
              display: flex;
              width: 11rem;
              text-align: center;
              line-height: 1.4475;
              font-family: Noto Sans JP, 'Source Sans Pro';
              position: absolute;
              font-weight: 700;
              left: 21.3708rem;
              color: #121212;
              white-space: nowrap;
              align-items: baseline;

              .before68kg-Wz9-sub-0 {
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 700;
              }
              .before68kg-Wz9-sub-1 {
              }
              .before68kg-Wz9-sub-2 {
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 700;
              }
            }
            .after48kg-bRF {
              font-size: 6.4rem;
              font-family: Noto Sans JP, 'Source Sans Pro';
              align-items: baseline;
              width: 22.7rem;
              position: absolute;
              left: 21.4862rem;
              top: 13.2737rem;
              font-weight: 700;
              text-align: center;
              color: #121212;
              display: flex;
              height: 9.9rem;
              line-height: 1.4479999542;
              white-space: nowrap;

              .after48kg-bRF-sub-0 {
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
              }
              .after48kg-bRF-sub-1 {
                font-weight: 700;
                line-height: 1.4475;
                color: #9d1515;
                font-family: Noto Sans JP, 'Source Sans Pro';
                font-size: 6.8rem;
              }
              .after48kg-bRF-sub-2 {
                font-weight: 700;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                font-size: 4.8rem;
              }
            }
            .women-icon-1-6Ay {
              width: 16.1rem;
              height: 21rem;
              position: absolute;
              left: 2.5rem;
              top: 0;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item-1-Yof {
            width: 47.3rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .rectangle-188-3kR {
              height: 35.2rem;
              position: absolute;
              left: 0;
              top: 5.4941rem;
              box-shadow: 0.5rem 0.5rem 0 #222222;
              background-color: #ffffff;
              width: 47.3rem;
            }
            .item-100-hKB {
              color: #121212;
              font-family: Noto Sans JP, 'Source Sans Pro';
              height: 11.6rem;
              left: 2.5rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.4475;
              letter-spacing: -0.08rem;
              width: 42.4rem;
              position: absolute;
              top: 22.3941rem;
            }
            .ol-TzV {
              top: 33.8614rem;
              color: #121212;
              width: 8.9rem;
              height: 2.4rem;
              left: 33.7rem;
              line-height: 1.4475;
              letter-spacing: -0.08rem;
              font-family: Noto Sans JP, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              font-size: 1.6rem;
              font-weight: 500;
            }
            .before72kg-VAV {
              top: 11.2941rem;
              text-align: center;
              font-size: 2.8rem;
              width: 11rem;
              font-weight: 700;
              color: #121212;
              white-space: nowrap;
              height: 4.1rem;
              display: flex;
              left: 21.3708rem;
              line-height: 1.4475;
              font-family: Noto Sans JP, 'Source Sans Pro';
              align-items: baseline;
              position: absolute;

              .before72kg-VAV-sub-0 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
              }
              .before72kg-VAV-sub-1 {
              }
              .before72kg-VAV-sub-2 {
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 700;
              }
            }
            .after56kg-AZT {
              font-weight: 700;
              top: 13.2941rem;
              width: 22.7rem;
              height: 9.9rem;
              left: 21.4862rem;
              line-height: 1.4479999542;
              white-space: nowrap;
              display: flex;
              position: absolute;
              text-align: center;
              font-size: 6.4rem;
              color: #121212;
              font-family: Noto Sans JP, 'Source Sans Pro';
              align-items: baseline;

              .after56kg-AZT-sub-0 {
                font-weight: 700;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                font-size: 4.8rem;
              }
              .after56kg-AZT-sub-1 {
                font-size: 6.8rem;
                font-weight: 700;
                line-height: 1.4475;
                color: #9d1515;
                font-family: Noto Sans JP, 'Source Sans Pro';
              }
              .after56kg-AZT-sub-2 {
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.4475;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
              }
            }
            .women-icon-2-r6q {
              vertical-align: top;
              width: 16.1rem;
              height: 21rem;
              position: absolute;
              left: 2.5rem;
              top: 0;
              object-fit: contain;
            }
          }
        }
      }
      .sv-vMb {
        width: 46rem;
        height: 12.8rem;
        position: absolute;
        left: 49rem;
        top: 17rem;
        overflow: hidden;

        .group-229-DrV {
          width: 100%;
          height: 100%;
          position: relative;

          .highlight-Lw7 {
            width: 29rem;
            height: 1rem;
            position: absolute;
            left: 1.622rem;
            top: 11.6rem;
            background-color: #9d1515;
          }
          .tko-personal-training-96-CiR {
            height: 12.8rem;
            top: 0;
            line-height: 1.4475;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            color: #121212;
            font-family: Noto Sans JP, 'Source Sans Pro';
            width: 46rem;
            position: absolute;
            left: 0;

            .tko-personal-training-96-CiR-sub-0 {
            }
            .tko-personal-training-96-CiR-sub-1 {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.4475;
              color: #121212;
              font-family: Noto Sans JP, 'Source Sans Pro';
            }
            .tko-personal-training-96-CiR-sub-2 {
            }
            .tko-personal-training-96-CiR-sub-3 {
              line-height: 1.4475;
              color: #121212;
              font-family: Noto Sans JP, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
            }
            .tko-personal-training-96-CiR-sub-4 {
              font-family: Noto Sans JP, 'Source Sans Pro';
              font-size: 4.8rem;
              font-weight: 700;
              line-height: 1.4475;
              color: #121212;
            }
            .tko-personal-training-96-CiR-sub-5 {
              color: #121212;
              font-family: Noto Sans JP, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.4475;
            }
            .tko-personal-training-96-CiR-sub-6 {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.4475;
              color: #121212;
              font-family: Noto Sans JP, 'Source Sans Pro';
            }
            .tko-personal-training-96-CiR-sub-7 {
            }
          }
        }
      }
      .following-btn-Q1B {
        top: 9.9rem;
        background-color: #9d1515;
        box-sizing: border-box;
        padding: 2.2rem 3.2rem 2.2rem 3rem;
        height: 27.5rem;
        position: absolute;
        width: 8.6rem;
        left: 135.4rem;
        border: solid 0.2rem #9d1515;

        .group-230-kz9 {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .item--SMB {
            line-height: 1.1000000636;
            color: #ffffff;
            font-family: Noto Sans JP, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.1rem;
            max-width: 2.4rem;
            font-size: 2.4rem;
            font-weight: 500;
          }
          .vector-34-fjj {
            height: 4.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-left: 0.2rem;
            width: 0;
          }
        }
      }
    }
    .fv-Vim {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #222222;
      width: 144rem;
      height: 100rem;

      .fv-img-Ct5 {
        width: 144rem;
        height: 100rem;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        background-color: #222222;

        .fv-img-6yT {
          width: 150.5764rem;
          height: 135.7141rem;
          position: relative;

          .rectangle-192-1ad {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 149.1rem;
            height: 108rem;
          }
          .group-116-WnH {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:I257:528;257:213');
            width: 150.5764rem;
            height: 135.7141rem;
            left: 0;
            position: absolute;
            top: 0;
            background-position: center;

            .mask-group-NJh {
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 149.1336rem;
              height: 108.3811rem;
              position: absolute;
              left: 0;
            }
            .group-119-pwP {
              width: 49.274rem;
              height: 5.8rem;
              position: absolute;
              left: 67.8679rem;
              top: 27.5078rem;

              .rectangle-196-4Kw {
                top: 0.4rem;
                object-fit: contain;
                vertical-align: top;
                width: 49.274rem;
                height: 5rem;
                position: absolute;
                left: 0;
              }
              .item--ivH {
                white-space: nowrap;
                height: 5.8rem;
                position: absolute;
                top: 0;
                font-size: 4rem;
                color: #121212;
                display: flex;
                align-items: baseline;
                width: 32rem;
                left: 3.4132rem;
                font-weight: 900;
                line-height: 1.4475;
                font-family: Noto Sans JP, 'Source Sans Pro';

                .item--ivH-sub-0 {
                }
                .item--ivH-sub-1 {
                  line-height: 1.4475;
                  letter-spacing: -0.468rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 3.6rem;
                  font-weight: 900;
                }
                .item--ivH-sub-2 {
                  font-size: 3.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
                .item--ivH-sub-3 {
                }
                .item--ivH-sub-4 {
                  font-size: 3.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
                .item--ivH-sub-5 {
                }
                .item--ivH-sub-6 {
                  font-size: 3.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
              }
            }
            .group-118-8eZ {
              width: 76.132rem;
              height: 6.7rem;
              position: absolute;
              left: 67.8679rem;
              top: 34.7077rem;

              .rectangle-195-kvq {
                left: 0;
                top: 0.3rem;
                object-fit: contain;
                vertical-align: top;
                width: 76.132rem;
                height: 6rem;
                position: absolute;
              }
              .item--a2h {
                width: 64.1rem;
                height: 6.7rem;
                left: 3.4442rem;
                top: 0;
                font-size: 4.6rem;
                line-height: 1.4475;
                white-space: nowrap;
                position: absolute;
                font-weight: 900;
                color: #121212;
                font-family: Noto Sans JP, 'Source Sans Pro';
                display: flex;
                align-items: baseline;

                .item--a2h-sub-0 {
                }
                .item--a2h-sub-1 {
                  font-size: 4rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
                .item--a2h-sub-2 {
                  font-size: 4.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  letter-spacing: -0.276rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
                .item--a2h-sub-3 {
                  letter-spacing: -0.414rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                }
                .item--a2h-sub-4 {
                }
                .item--a2h-sub-5 {
                  line-height: 1.4475;
                  letter-spacing: -0.92rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.6rem;
                  font-weight: 900;
                }
                .item--a2h-sub-6 {
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  letter-spacing: -0.506rem;
                }
                .item--a2h-sub-7 {
                }
                .item--a2h-sub-8 {
                  line-height: 1.4475;
                  letter-spacing: -0.391rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.6rem;
                  font-weight: 900;
                }
                .item--a2h-sub-9 {
                }
                .item--a2h-sub-10 {
                  font-size: 4rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
              }
            }
            .group-117-Z6u {
              left: 67.8679rem;
              top: 42.8078rem;
              width: 63.6327rem;
              height: 7.3rem;
              position: absolute;

              .rectangle-197-3Gy {
                width: 63.6327rem;
                height: 6rem;
                position: absolute;
                left: 0;
                top: 0.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .item--wt9 {
                line-height: 1.4475;
                font-family: Noto Sans JP, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                font-size: 4.6rem;
                left: 3.45rem;
                top: 0;
                font-weight: 900;
                color: #121212;
                display: flex;
                align-items: baseline;
                width: 52.2rem;
                height: 7.3rem;

                .item--wt9-sub-0 {
                  line-height: 1.4475;
                  color: #9d1515;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 5rem;
                  font-weight: 900;
                }
                .item--wt9-sub-1 {
                  font-weight: 900;
                  line-height: 1.4475;
                  letter-spacing: -0.475rem;
                  color: #9d1515;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 5rem;
                }
                .item--wt9-sub-2 {
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 5rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  color: #9d1515;
                }
                .item--wt9-sub-3 {
                  font-weight: 900;
                  line-height: 1.4475;
                  letter-spacing: -0.35rem;
                  color: #9d1515;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 5rem;
                }
                .item--wt9-sub-4 {
                  letter-spacing: -0.644rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                }
                .item--wt9-sub-5 {
                  line-height: 1.4475;
                  letter-spacing: -0.506rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.6rem;
                  font-weight: 900;
                }
                .item--wt9-sub-6 {
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  letter-spacing: -0.552rem;
                  color: #121212;
                }
                .item--wt9-sub-7 {
                }
                .item--wt9-sub-8 {
                  font-size: 4.6rem;
                  font-weight: 900;
                  line-height: 1.4475;
                  letter-spacing: -0.414rem;
                  color: #121212;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
              }
            }
            .tko-personal-training-5yf {
              left: 8.25rem;
              top: 3rem;
              font-weight: 700;
              font-family: Noto Sans, 'Source Sans Pro';
              position: absolute;
              height: 8.2rem;
              text-align: center;
              font-size: 2rem;
              line-height: 1.3625;
              color: #ffffff;
              width: 10.6rem;
            }
          }
        }
      }
      .cta-Ek5 {
        padding: 2rem 38.45rem 2.3rem 38.45rem;
        width: 144rem;
        left: 0;
        display: flex;
        box-sizing: border-box;
        height: 26rem;
        position: absolute;
        top: 74rem;
        align-items: center;
        flex-direction: column;
        background-color: rgba(34, 34, 34, 0.6499999762);

        .ribbon-img-Boj {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 3rem;
          width: 100%;
          height: 5.3rem;

          .ribonn-img-Fob {
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 67.1rem;
            height: 5.3rem;
            position: absolute;
          }
          .title-m1F {
            line-height: 1.3625;
            letter-spacing: 0.24rem;
            color: #ffffff;
            font-family: Noto Sans, 'Source Sans Pro';
            width: 25.7rem;
            height: 3.3rem;
            position: absolute;
            top: 0.3rem;
            left: 21.35rem;
            font-size: 2.4rem;
            font-weight: 500;
            white-space: nowrap;
          }
        }
        .group-228-nh3 {
          width: calc(100% - 1.1rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0 0.55rem;

          .group-227-h3K {
            height: 7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;

            .group-224-BUH {
              align-items: center;
              flex-shrink: 0;
              margin-right: 5.475rem;
              height: 100%;
              display: flex;

              .group-223-Vjs {
                justify-content: center;
                color: #ffffff;
                display: flex;
                background-position: center;
                flex-shrink: 0;
                height: calc(100% - 2.5rem);
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.4475;
                background-image: url('REPLACE_IMAGE:I257:399;257:340');
                white-space: nowrap;
                align-items: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 1.7rem 0.35rem 0.8rem 0rem;
                width: 4.5rem;
                font-family: Noto Sans JP, 'Source Sans Pro';
              }
              .item-4980-FcZ {
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 1.1rem 0.75rem 0rem 0rem;
                max-width: 6rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2000000477;
                color: #ffffff;
              }
              .item-0-yBB {
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                line-height: 1.4475;
                font-family: Noto Sans JP, 'Source Sans Pro';
                color: #ffffff;
                white-space: nowrap;
                font-size: 4.8rem;
                font-weight: 500;

                .item-0-yBB-sub-0 {
                  font-size: 4.2rem;
                  font-weight: 500;
                  line-height: 1.4475;
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
                .item-0-yBB-sub-1 {
                }
              }
            }
            .group-225-469 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 4.925rem;
              height: 100%;

              .group-223-xSR {
                font-weight: 500;
                font-family: Noto Sans JP, 'Source Sans Pro';
                background-position: center;
                background-image: url('REPLACE_IMAGE:I257:403;257:351');
                line-height: 1.4475;
                white-space: nowrap;
                justify-content: center;
                margin: 1.7rem 0.275rem 0.8rem 0rem;
                color: #ffffff;
                display: flex;
                align-items: center;
                background-repeat: no-repeat;
                flex-shrink: 0;
                width: 4.5rem;
                height: calc(100% - 2.5rem);
                font-size: 1.4rem;
                background-size: cover;
              }
              .item--Xtq {
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0.9rem 1.9rem 0rem 0rem;
                max-width: 4.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2000000477;
                color: #ffffff;
              }
              .item-0-BTb {
                font-weight: 500;
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                font-size: 4.8rem;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                align-items: baseline;
                line-height: 1.4475;

                .item-0-BTb-sub-0 {
                  font-size: 4.2rem;
                  font-weight: 500;
                  line-height: 1.4475;
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                }
                .item-0-BTb-sub-1 {
                }
              }
            }
            .group-226-ae9 {
              align-items: flex-end;
              flex-shrink: 0;
              margin: 0.4rem 0rem 0.5rem 0rem;
              height: calc(100% - 0.9rem);
              display: flex;

              .group-223-cKw {
                height: 4.5rem;
                justify-content: center;
                background-position: center;
                margin: 0rem 0.275rem 0.3rem 0rem;
                font-weight: 500;
                align-items: center;
                background-size: cover;
                font-size: 1.4rem;
                line-height: 1.4475;
                white-space: nowrap;
                display: flex;
                background-image: url('REPLACE_IMAGE:I257:407;257:347');
                width: 4.5rem;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                background-repeat: no-repeat;
                flex-shrink: 0;
              }
              .item--1N5 {
                max-width: 8.4rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2000000477;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 1.2rem 0.6rem 0rem;
              }
              .item--33s {
                flex-shrink: 0;
                font-size: 4.2rem;
                font-weight: 500;
                line-height: 1.4475;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .cta-btn-vNZ {
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            padding: 0.8rem 2rem 0.8rem 20rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.3rem #9d1515;

            .web-pTw {
              font-weight: 700;
              line-height: 1.4475;
              color: #9d1515;
              font-family: Noto Sans JP, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 23.6rem;
              font-size: 2rem;
            }
            .vector-H6d {
              width: 0.5rem;
              height: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .faq-nBo {
    padding: 8rem 22rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;

    .title-dy7 {
      margin: 0rem 39.2rem 2.9rem 39.2rem;
      width: calc(100% - 78.4rem);
      height: 6.9rem;
      position: relative;
      flex-shrink: 0;

      .h2-vBX {
        width: 18.8rem;
        font-size: 3.6rem;
        color: #121212;
        top: 0;
        font-weight: 700;
        line-height: 1.4475;
        font-family: Noto Sans JP, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.3rem;
        position: absolute;
        left: 0;
      }
      .qa-aG5 {
        width: 8.2rem;
        height: 1.7rem;
        position: absolute;
        left: 13.4rem;
        top: 5.2rem;
        display: flex;
        align-items: center;

        .vector-35-DK3 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.5rem 0.1rem 0rem;
          width: 5rem;
          height: 0;
        }
        .qa-hED {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.3625;
          color: #121212;
          font-family: Noto Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .faq-aYu {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;

      .auto-group-wlff-sY1 {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 2.5673rem;

        .line-Wqs {
          margin: 0rem 0rem 1.967rem 0.056rem;
          width: 99.9445rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-1-YGm {
          margin-right: 0rem;
          width: calc(100% - 0rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-dsto-pEH {
            margin: 0rem 2.324rem 1.683rem 0rem;
            width: calc(100% - 2.3237rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .h4-J9T {
              margin-right: 43.6rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.4475;
              color: #121212;
              font-family: Noto Sans JP, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .faq-icon-close-b8Z {
              vertical-align: top;
              flex-shrink: 0;
              width: 2.7762rem;
              height: 0.3rem;
              object-fit: contain;
            }
          }
          .anser-gvh {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-tl3p-2Ds {
              color: #121212;
              background-repeat: no-repeat;
              box-sizing: border-box;
              padding: 2.1rem 2.887rem 2rem 2.887rem;
              font-family: Noto Sans JP, 'Source Sans Pro';
              background-position: center;
              background-image: url('REPLACE_IMAGE:212:644');
              margin: 0rem 0.055rem 1.55rem 0rem;
              line-height: 1.4475;
              white-space: nowrap;
              width: 99.9445rem;
              font-size: 1.6rem;
              font-weight: 500;
              background-size: cover;
              flex-shrink: 0;
            }
            .line-PyX {
              width: 99.9445rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-left: 0.0555rem;
            }
          }
        }
      }
      .item-2-2Fo {
        margin-bottom: 2.5673rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-ddeu-6WZ {
          margin: 0rem 2.324rem 1.65rem 0rem;
          width: calc(100% - 2.3238rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .h4-WKP {
            margin: 0.283rem 43.6rem 0rem 0rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.4475;
            color: #121212;
            font-family: Noto Sans JP, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .faq-icon-plus-9t9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.7762rem;
            height: 2.5rem;
          }
        }
        .line-3id {
          margin-left: 0.0555rem;
          width: 99.9445rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .item-3-kd3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.5673rem;
        width: 100%;

        .auto-group-4xxb-fk1 {
          flex-shrink: 0;
          margin: 0rem 2.324rem 1.65rem 0rem;
          width: calc(100% - 2.3238rem);
          display: flex;
          align-items: flex-start;

          .h4-ZKb {
            font-family: Noto Sans JP, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.283rem 43.6rem 0rem 0rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.4475;
            color: #121212;
          }
          .faq-icon-plus-rJh {
            width: 2.7762rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-xMj {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.0555rem;
          width: 99.9445rem;
          height: 0;
        }
      }
      .item-4-RFK {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-q4nh-uwB {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 2.324rem 1.65rem 0rem;
          width: calc(100% - 2.3238rem);

          .h4-M2V {
            line-height: 1.4475;
            color: #121212;
            font-family: Noto Sans JP, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.283rem 43.6rem 0rem 0rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .faq-icon-plus-QFf {
            width: 2.7762rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-i1T {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.0555rem;
          width: 99.9445rem;
          height: 0;
        }
      }
    }
  }
  .auto-group-irms-Bfj {
    width: 100%;
    height: 38rem;
    position: relative;
    flex-shrink: 0;

    .item--tq3 {
      color: #121212;
      align-items: center;
      position: absolute;
      overflow: hidden;
      font-size: 1.2rem;
      white-space: nowrap;
      background-color: #e7e7e7;
      font-weight: 500;
      line-height: 1.3625;
      font-family: Noto Sans, 'Source Sans Pro';
      justify-content: center;
      width: 144rem;
      height: 3rem;
      display: flex;
      left: 0;
      top: 35rem;
    }
    .cta-Jds {
      box-sizing: border-box;
      padding: 0 8rem;
      height: 35rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 144rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #222222;

      .img-mnM {
        position: relative;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 56.4rem;
        height: 100%;
        overflow: hidden;

        .group-232-rYu {
          width: 100%;
          height: 40.5rem;
          position: relative;

          .rectangle-208-vHs {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 51.1rem;
            height: 37.5rem;
            position: absolute;
            left: 0;
          }
          .mask-group-Mty {
            vertical-align: top;
            width: 56.4rem;
            height: 40.5rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
          }
        }
      }
      .text-group-DAV {
        margin: 7.6rem 0;
        width: 67.1rem;
        height: calc(100% - 15.2rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ribbon-img-4wo {
          width: 100%;
          height: 5.3rem;
          position: relative;
          flex-shrink: 0;

          .ribonn-img-BFj {
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 67.1rem;
            height: 5.3rem;
            position: absolute;
          }
          .title-fgh {
            letter-spacing: 0.24rem;
            color: #ffffff;
            white-space: nowrap;
            height: 3.3rem;
            line-height: 1.3625;
            left: 21.35rem;
            top: 0.3rem;
            font-size: 2.4rem;
            font-weight: 500;
            font-family: Noto Sans, 'Source Sans Pro';
            width: 25.7rem;
            position: absolute;
          }
        }
        .auto-group-bneq-VQq {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 0.5rem 0rem 0.6rem;
          width: 100%;

          .text-NzR {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 4rem 1.5rem 0rem;
            height: 7rem;
            display: flex;
            column-gap: 5.7rem;

            .group-224-CCm {
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .group-223-fc9 {
                white-space: nowrap;
                align-items: center;
                flex-shrink: 0;
                height: calc(100% - 2.5rem);
                font-size: 1.4rem;
                color: #ffffff;
                justify-content: center;
                margin: 1.8rem 0.3rem 0.7rem 0rem;
                line-height: 1.4475;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url('REPLACE_IMAGE:I257:411;257:340');
                width: 4.5rem;
                font-weight: 500;
                font-family: Noto Sans JP, 'Source Sans Pro';
                display: flex;
              }
              .item-4980-Zqw {
                max-width: 5.8rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2000000477;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 1.3rem 0.7rem 0rem 0rem;

                .item-4980-Zqw-sub-0 {
                  line-height: 1.3714286259;
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 1.4rem;
                  font-weight: 500;
                }
                .item-4980-Zqw-sub-1 {
                  line-height: 1.2000000477;
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 500;
                }
                .item-4980-Zqw-sub-2 {
                }
                .item-4980-Zqw-sub-3 {
                  font-weight: 500;
                  line-height: 1.2000000477;
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 1.6rem;
                }
                .item-4980-Zqw-sub-4 {
                }
                .item-4980-Zqw-sub-5 {
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.2000000477;
                }
                .item-4980-Zqw-sub-6 {
                  line-height: 1.3714286259;
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 1.4rem;
                  font-weight: 500;
                }
              }
              .item-0-7gR {
                font-size: 4.8rem;
                font-weight: 500;
                line-height: 1.4475;
                display: flex;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                flex-shrink: 0;

                .item-0-7gR-sub-0 {
                  line-height: 1.4475;
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.2rem;
                  font-weight: 500;
                }
                .item-0-7gR-sub-1 {
                }
              }
            }
            .group-225-wYy {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-223-fE5 {
                font-size: 1.4rem;
                font-family: Noto Sans JP, 'Source Sans Pro';
                justify-content: center;
                flex-shrink: 0;
                font-weight: 500;
                line-height: 1.4475;
                white-space: nowrap;
                display: flex;
                align-items: center;
                margin: 1.8rem 0.3rem 0.7rem 0rem;
                height: calc(100% - 2.5rem);
                color: #ffffff;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:I257:415;257:351');
                width: 4.5rem;
              }
              .item--f7b {
                font-weight: 500;
                line-height: 1.2000000817;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 1rem 1.6rem 0rem 0rem;
                max-width: 4rem;
                font-size: 1.4rem;
              }
              .item-0-JAZ {
                font-weight: 500;
                line-height: 1.4475;
                display: flex;
                font-size: 4.8rem;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                flex-shrink: 0;

                .item-0-JAZ-sub-0 {
                  color: #ffffff;
                  font-family: Noto Sans JP, 'Source Sans Pro';
                  font-size: 4.2rem;
                  font-weight: 500;
                  line-height: 1.4475;
                }
                .item-0-JAZ-sub-1 {
                }
              }
            }
            .group-226-Cv9 {
              height: calc(100% - 0.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.467rem 0rem 0.433rem 0rem;

              .group-223-R2D {
                font-weight: 500;
                width: 4.5rem;
                line-height: 1.4475;
                font-family: Noto Sans JP, 'Source Sans Pro';
                justify-content: center;
                background-repeat: no-repeat;
                background-image: url('REPLACE_IMAGE:I257:419;257:347');
                height: 4.5rem;
                white-space: nowrap;
                display: flex;
                background-position: center;
                flex-shrink: 0;
                margin: 1.065rem 0.3rem 0rem 0rem;
                font-size: 1.4rem;
                color: #ffffff;
                align-items: center;
                background-size: cover;
              }
              .item--XzM {
                line-height: 1.2000000817;
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0.965rem 1.1rem 0rem 0rem;
                max-width: 7.3rem;
                font-size: 1.4rem;
                font-weight: 500;
              }
              .item--xZs {
                color: #ffffff;
                font-family: Noto Sans JP, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 4.2rem;
                font-weight: 500;
                line-height: 1.4475;
              }
            }
          }
          .cta-btn-qtZ {
            box-sizing: border-box;
            background-color: #ffffff;
            align-items: center;
            border: solid 0.3rem #9d1515;
            border-radius: 0.5rem;
            flex-shrink: 0;
            padding: 0.8rem 2rem 0.8rem 20rem;
            width: 100%;
            display: flex;

            .web-jDF {
              font-weight: 700;
              line-height: 1.4475;
              color: #9d1515;
              font-family: Noto Sans JP, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 23.6rem;
              font-size: 2rem;
            }
            .vector-CsX {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 0.5rem;
              height: 0.8rem;
            }
          }
        }
      }
    }
    .top-icon-cwF {
      flex-direction: column;
      box-sizing: border-box;
      padding: 1rem 2.3rem 0.8rem 2.2rem;
      top: 29.3673rem;
      align-items: center;
      overflow: hidden;
      display: flex;
      background-color: #9d1515;
      width: 7.4rem;
      height: 7.1rem;
      position: absolute;
      left: 136.6rem;

      .polygon-4-wc9 {
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.9rem;
      }
      .polygon-5-Cny {
        width: 2.9rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
      }
      .top-Jb7 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Noto Sans, 'Source Sans Pro';
      }
    }
  }
}
