
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 181.5rem;
}.requirement-1ho {
  width: 100%;
  height: 540.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.requirement-1ho .auto-group-qjq9-G7w {
  width: 54.9683rem;
  height: 16.617rem;
  position: absolute;
  left: 8.4rem;
  top: 2.8rem;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD {
  width: 54.9683rem;
  height: 16.517rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .color-dch {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs {
  width: 100%;
  height: 12.917rem;
  display: flex;
  align-items: center;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-236-CZK {
  margin-right: 1.1rem;
  box-sizing: border-box;
  padding: 3.5rem 2.717rem 4.317rem 2.8rem;
  width: 12.9171rem;
  height: 100%;
  background-color: #222222;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-236-CZK .base-222222-Tk9 {
  max-width: 7.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-233-6YD {
  margin-right: 1.0999rem;
  box-sizing: border-box;
  padding: 3.5rem 3.067rem 4.317rem 2.95rem;
  width: 12.9171rem;
  height: 100%;
  background-color: #e7e7e7;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-233-6YD .base2-e7e7e7-shP {
  max-width: 6.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.1rem;
  color: #343434;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-235-UhB {
  margin-right: 1.1rem;
  box-sizing: border-box;
  padding: 3.5rem 2.917rem 4.317rem 3rem;
  width: 12.9171rem;
  height: 100%;
  background-color: #9d1515;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-235-UhB .accent-9d1515-A4D {
  max-width: 7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-234-DoB {
  box-sizing: border-box;
  padding: 3.5rem 3.067rem 4.317rem 3.15rem;
  width: 12.9171rem;
  height: 100%;
  background-color: #121212;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-qjq9-G7w .group-216-jnD .frame-212-gqs .group-234-DoB .item-121212-X3B {
  max-width: 6.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.1rem;
  color: #ffffff;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-qjq9-G7w .color-Mnu {
  width: 5.8rem;
  height: 3.5rem;
  position: absolute;
  left: 10.6rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .group-243-QFP {
  width: 66.2rem;
  height: 18.1rem;
  position: absolute;
  left: 8.4rem;
  top: 22.4rem;
  border-radius: 0.5rem;
}
.requirement-1ho .group-243-QFP .group-217-Hpy {
  margin-bottom: 1.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.requirement-1ho .group-243-QFP .group-217-Hpy .cta-btn-DCq {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-243-QFP .group-217-Hpy .cta-btn-Whj {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2rem 0.8rem 20rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.3rem #9d1515;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.requirement-1ho .group-243-QFP .group-217-Hpy .cta-btn-Whj .web-Njw {
  margin-right: 23.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-243-QFP .group-217-Hpy .cta-btn-Whj .vector-35P {
  width: 0.5rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.requirement-1ho .group-243-QFP .group-223-VTB {
  width: 66.1rem;
  border-radius: 0.5rem;
}
.requirement-1ho .group-243-QFP .group-223-VTB .btn-Dty {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .group-243-QFP .group-223-VTB .cta-btn-J9j {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 2rem 0.8rem 20rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.3rem #ffffff;
  background-color: #9d1515;
  border-radius: 0.5rem;
}
.requirement-1ho .group-243-QFP .group-223-VTB .cta-btn-J9j .web-z2Z {
  margin-right: 23.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-243-QFP .group-223-VTB .cta-btn-J9j .vector-UCd {
  width: 0.5rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d {
  width: 128.3rem;
  height: 34.6rem;
  position: absolute;
  left: 8.4rem;
  top: 45.5rem;
  display: flex;
  align-items: center;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf {
  margin-right: 6.5rem;
  width: 70.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B {
  width: 69.9rem;
  height: 34.4rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .btn-CRT {
  margin-bottom: 3.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-start;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .following-btn-Nz9 {
  margin: 0.1rem 6.2rem 0rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 2.2rem 3rem;
  width: 8.6rem;
  height: 27.5rem;
  border: solid 0.2rem #9d1515;
  background-color: #9d1515;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .following-btn-Nz9 .group-230-d9P {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .following-btn-Nz9 .group-230-d9P .item--kUu {
  margin-bottom: 5.1rem;
  max-width: 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1000000636;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .following-btn-Nz9 .group-230-d9P .vector-34-R5F {
  margin-left: 0.2rem;
  width: 0;
  height: 4.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .hover-btn-hHf {
  margin: 0.1rem 7.7rem 0rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 2.2rem 3rem;
  width: 8.6rem;
  height: 27.5rem;
  border: solid 0.2rem #9d1515;
  background-color: #ffffff;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .hover-btn-hHf .group-230-MND {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .hover-btn-hHf .group-230-MND .item--5p1 {
  margin-bottom: 5.1rem;
  max-width: 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1000000636;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .hover-btn-hHf .group-230-MND .vector-34-mB3 {
  margin-left: 0.2rem;
  width: 0;
  height: 4.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .group-242-J5B .auto-group-ovmt-fZw .cta-cta-RWV {
  max-width: 38rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1000000636;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-ecbf-v4d .auto-group-re3f-bRf .following-button-normalhover-itu {
  width: 36.1rem;
  height: 3.5rem;
  position: absolute;
  left: 34.2rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-ecbf-v4d .link-to-call-to-action-at-below-of-page-sho-the-button-when-user-see-second-view-img-and-hide-when-user-see-cta-GJ9 {
  margin-bottom: 11.7rem;
  max-width: 51.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fcpd-62H {
  width: 65.1rem;
  height: 32.8177rem;
  position: absolute;
  left: 8.4rem;
  top: 85.6rem;
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f {
  width: 56.6rem;
  height: 32.8177rem;
  position: absolute;
  left: 0;
  top: 0;
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .item--tTw {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X {
  margin: 0rem 0rem 4.997rem 0.2rem;
  width: 56.4rem;
  height: 12.1206rem;
  position: relative;
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB {
  width: 56.4rem;
  height: 12.1rem;
  position: absolute;
  left: 0;
  top: 0.0206rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB-sub-0 {
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB-sub-2 {
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB .noto-sans-jp-https-fontsgooglecom-noto-specimen-notosansjp-noto-sans-https-fontsgooglecom-noto-specimen-notosans-rZB-sub-3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X .japanese-q5f {
  width: 11rem;
  height: 3rem;
  position: absolute;
  left: 29.2rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .auto-group-fnsx-n3X .english-t3w {
  width: 8.2rem;
  height: 3rem;
  position: absolute;
  left: 35.7rem;
  top: 7.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-fcpd-62H .group-240-z7f .noto-sans-jp-medium-16px-h4noto-sans-jp-bold-20px-h3noto-sans-jp-bold-24px-h2noto-sans-jp-bold-36pc-kM3 {
  max-width: 38.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-fcpd-62H .normal-text-mG9 {
  width: 13.7rem;
  height: 3rem;
  position: absolute;
  left: 51.4rem;
  top: 20.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-lbyh-cnZ {
  width: 76.5rem;
  height: 15rem;
  position: absolute;
  left: 7.2rem;
  top: 209rem;
}
.requirement-1ho .auto-group-lbyh-cnZ .group-244-7UR {
  width: 55.8rem;
  height: 14.7rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
}
.requirement-1ho .auto-group-lbyh-cnZ .group-244-7UR .voicepc-PRw {
  margin: 0rem 0rem 1.9rem 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-lbyh-cnZ .group-244-7UR .https-previewstudiosite-live-vgokvpkrwn-1-S9K {
  margin: 0rem 0rem 0.5rem 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-lbyh-cnZ .group-244-7UR .delay300s800s-delay400s800sy200-hL9 {
  max-width: 55.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-lbyh-cnZ .demo-animation-hDf {
  width: 14.6rem;
  height: 2.9rem;
  position: absolute;
  left: 61.9rem;
  top: 5.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-lbyh-cnZ .animation-for-voicepc-ZWm {
  width: 27rem;
  height: 3.3rem;
  position: absolute;
  left: 42.4rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #000000;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-ttpk-R3B {
  width: 71.3rem;
  height: 13.1rem;
  position: absolute;
  left: 8.1rem;
  top: 237.6rem;
}
.requirement-1ho .auto-group-ttpk-R3B .group-246-JMs {
  width: 52.5rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
}
.requirement-1ho .auto-group-ttpk-R3B .group-246-JMs .pc-QQu {
  margin-bottom: 1.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-ttpk-R3B .group-246-JMs .https-previewstudiosite-live-vgokvpkrwn-2-tay {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-ttpk-R3B .group-246-JMs .delay200300400600s-AoP {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-ttpk-R3B .demo-animation-qed {
  width: 14.6rem;
  height: 2.9rem;
  position: absolute;
  left: 56.7rem;
  top: 5.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-ttpk-R3B .animation-for-step-WEy {
  width: 19.8rem;
  height: 3.5rem;
  position: absolute;
  left: 45.1rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4mnd-B6D {
  width: 120.7rem;
  height: 20.8rem;
  position: absolute;
  left: 7.7rem;
  top: 259.7rem;
  display: flex;
  align-items: center;
}
.requirement-1ho .auto-group-4mnd-B6D .auto-group-8zvy-fn5 {
  margin-right: 12.5rem;
  width: 90.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-4mnd-B6D .auto-group-8zvy-fn5 .group-247-zC5 {
  width: 90.1rem;
  height: 20.7rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
}
.requirement-1ho .auto-group-4mnd-B6D .auto-group-8zvy-fn5 .group-247-zC5 .item--Usw {
  margin: 0rem 0rem 2.1rem 0.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4mnd-B6D .auto-group-8zvy-fn5 .group-247-zC5 .item--VHF {
  margin-bottom: 1.1rem;
  max-width: 33.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-4mnd-B6D .auto-group-8zvy-fn5 .group-247-zC5 .https-coco-factoryjp-ugokuweb-wp-content-themes-ugokuweb-data-9-2-1-9-2-1html-FQq {
  margin: 0rem 0rem 2.1rem 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4mnd-B6D .auto-group-8zvy-fn5 .group-247-zC5 .https-coco-factoryjp-ugokuweb-move01-9-2-1--gFF {
  margin-left: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4mnd-B6D .auto-group-8zvy-fn5 .animation-for-faq-xCm {
  width: 19.2rem;
  height: 3.5rem;
  position: absolute;
  left: 44.4rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4mnd-B6D .demo-animation-Cso {
  margin-top: 7.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-18sq-6iH {
  width: 132.1rem;
  height: 14.5rem;
  position: absolute;
  left: 8.4rem;
  top: 321.5rem;
  display: flex;
  align-items: flex-start;
}
.requirement-1ho .auto-group-18sq-6iH .group-249-b9F {
  margin: 0.6rem 19.9rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-18sq-6iH .group-249-b9F .cta-H25 {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-18sq-6iH .group-249-b9F .delay600-btn400delay600y100-kwF {
  margin-bottom: 1.1rem;
  max-width: 44.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-18sq-6iH .group-249-b9F .https-previewstudiosite-live-vgokvpkrwn-3-nd3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-18sq-6iH .animation-for-call-to-action-delay-300s-and-show-it-by-600s-for-btn-fade-indelay400-to-600-y-axis100-from-transparent-GYD {
  max-width: 64.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-pdgr-Vvm {
  width: 134.2rem;
  height: 14.7rem;
  position: absolute;
  left: 8.4rem;
  top: 345.1rem;
  display: flex;
  align-items: flex-start;
}
.requirement-1ho .auto-group-pdgr-Vvm .group-251-C4V {
  margin: 0.8rem 17.6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-pdgr-Vvm .group-251-C4V .btn-VJV {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-pdgr-Vvm .group-251-C4V .delay600-btn400delay600y100-A9j {
  margin-bottom: 1.1rem;
  max-width: 44.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-pdgr-Vvm .group-251-C4V .https-previewstudiosite-live-vgokvpkrwn-3-z8m {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-pdgr-Vvm .animation-for-btn-of-smart-phone-300-delay-display-by-600s-about-btnfade-in-from-transparent-delay-400-by-600s-y-axis100-4eR {
  max-width: 68.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fynu-Hn5 {
  width: 80.9rem;
  height: 14.3rem;
  position: absolute;
  left: 8.4rem;
  top: 292.3rem;
  display: flex;
  align-items: center;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh {
  margin-right: 14.6rem;
  width: 30.8rem;
  height: 100%;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh .top-uHf {
  margin-bottom: 4.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh .auto-group-5ruo-zK7 {
  width: 100%;
  height: 7.1rem;
  display: flex;
  align-items: flex-start;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh .auto-group-5ruo-zK7 .top-icon-W2Z {
  margin-right: 6.1rem;
  box-sizing: border-box;
  padding: 1rem 2.3rem 0.8rem 2.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #9d1515;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh .auto-group-5ruo-zK7 .top-icon-W2Z .polygon-4-9rD {
  width: 2.9rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh .auto-group-5ruo-zK7 .top-icon-W2Z .polygon-5-TM7 {
  margin-bottom: 0.6rem;
  width: 2.9rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh .auto-group-5ruo-zK7 .top-icon-W2Z .top-k5K {
  margin-left: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fynu-Hn5 .group-248-zAh .auto-group-5ruo-zK7 .fv-EFP {
  margin-top: 0.1rem;
  max-width: 17.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-fynu-Hn5 .top-icon-fixed-display-on-bottom-of-page-when-tap-it-move-to-first-view-gNH {
  max-width: 35.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .auto-group-1ded-vXX {
  width: 65.9rem;
  height: 18.9rem;
  position: absolute;
  left: 8.4rem;
  top: 373.5rem;
}
.requirement-1ho .auto-group-1ded-vXX .group-252-cv9 {
  width: 57.3rem;
  height: 18.8rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
}
.requirement-1ho .auto-group-1ded-vXX .group-252-cv9 .voicesp-vfw {
  margin-bottom: 1.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-1ded-vXX .group-252-cv9 .https-previewstudiosite-live-vgokvpkrwn-1-oUq {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-1ded-vXX .group-252-cv9 .delay300s800s-delay400s800sy200-pcurl-Uqs {
  max-width: 57.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-1ded-vXX .animation-for-voice-sp-Bdo {
  width: 25.2rem;
  height: 3.5rem;
  position: absolute;
  left: 40.7rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-zejq-T5X {
  width: 70.8rem;
  height: 15.8rem;
  position: absolute;
  left: 8.4rem;
  top: 417.5rem;
}
.requirement-1ho .auto-group-zejq-T5X .group-253-Ysf {
  width: 52.5rem;
  height: 15.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.requirement-1ho .auto-group-zejq-T5X .group-253-Ysf .sp-TUq {
  margin-bottom: 1.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-zejq-T5X .group-253-Ysf .https-previewstudiosite-live-vgokvpkrwn-2-Hyf {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-zejq-T5X .group-253-Ysf .delay200300400600s-pcurl-mdw {
  max-width: 52.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .auto-group-zejq-T5X .animation-for-stepsp-xTX {
  width: 25.8rem;
  height: 3.3rem;
  position: absolute;
  left: 45rem;
  top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #000000;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-8dxb-QqK {
  width: 21.8rem;
  height: 3.8rem;
  position: absolute;
  left: 8.7rem;
  top: 81.4rem;
  display: flex;
  align-items: center;
}
.requirement-1ho .auto-group-8dxb-QqK .normal-uGH {
  margin: 0rem 7.5rem 0.3rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .auto-group-8dxb-QqK .hover-PSM {
  margin-top: 0.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .requirements-for-second-view-tP7 {
  width: 34.6rem;
  height: 3rem;
  position: absolute;
  left: 10rem;
  top: 124.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4pzk-Lku {
  width: 71.6rem;
  height: 15.8rem;
  position: absolute;
  left: 5.9rem;
  top: 181.1rem;
}
.requirement-1ho .auto-group-4pzk-Lku .animation-for-first-view-pc-dzu {
  width: 25.3rem;
  height: 2.9rem;
  position: absolute;
  left: 42.1rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4pzk-Lku .demo-animation-suF {
  width: 14.6rem;
  height: 2.9rem;
  position: absolute;
  left: 57rem;
  top: 5.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4pzk-Lku .group-254-wPK {
  width: 66.9rem;
  height: 15.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.requirement-1ho .auto-group-4pzk-Lku .group-254-wPK .fvpc-E7X {
  margin-bottom: 1.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4pzk-Lku .group-254-wPK .https-previewstudiosite-live-vgokvpkrwn-Vp9 {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .auto-group-4pzk-Lku .group-254-wPK .cta300s-delayy250-btn350s-delayf80cubic-bezier04-04-0-2--n2Z {
  max-width: 66.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
}
.requirement-1ho .it-is-italicized-about-10-size-of-highlight-is-29010px-xLM {
  width: 26.6rem;
  height: 5.8rem;
  position: absolute;
  left: 10.6rem;
  top: 171.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .about-cta-animation-please-develop-as-300s-delay-and-y-axis250-fade-in-from-transparent-about-btn-350s-delay-fade-in-cublic-bezir-040402-from-transparent-f-axis-80-13j {
  width: 81.8rem;
  height: 5.8rem;
  position: absolute;
  left: 10.5rem;
  top: 201.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .for-left-cardfade-in-delay-300s800s-for-right-card-fade-in-delay-400s800s-for-both-cards-transparent-and-start-from-y-axis-200-mx1 {
  width: 62.1rem;
  height: 9.9rem;
  position: absolute;
  left: 7.7rem;
  top: 225.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #000000;
  font-family: Noto Sans, 'Source Sans Pro';
}
.requirement-1ho .from-leftshow-one-by-one-delay200s-300s400s600s-Nwo {
  width: 59rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 252.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .from-aboveshow-one-by-one-delay200s-300s400s600s-please-develop-animation-as-vertical-please-check-the-url-by-smart-phone-or-developer-tool-and-choose-smart-phone-size-d73 {
  width: 132rem;
  height: 7rem;
  position: absolute;
  left: 9rem;
  top: 435.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .click-the-title-then-show-contents-icon-icon-when-close-the-faq-icon-icon-o9w {
  width: 53.4rem;
  height: 7rem;
  position: absolute;
  left: 9.2rem;
  top: 282.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .for-left-cardfade-in-delay-300s800s-for-right-card-fade-in-delay-400s800s-for-both-cards-transparent-and-start-from-y-axis-200-put-cards-as-vertical-please-check-the-url-by-smart-phone-or-developer-tool-and-choose-smat-phone-size-Cxm {
  width: 122.7rem;
  height: 13.1rem;
  position: absolute;
  left: 8.4rem;
  top: 394.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #000000;
  font-family: Noto Sans, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso {
  width: 111.5rem;
  height: 42.2rem;
  position: absolute;
  left: 6.2rem;
  top: 127.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 {
  margin: 0rem 0.3rem 1.8rem 0rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y {
  margin-right: 11.722rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .item--f7b {
  margin-bottom: 2.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy {
  margin-left: 2.678rem;
  width: 46rem;
  height: 12.8rem;
  position: relative;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .highlight-cBF {
  width: 29rem;
  height: 1rem;
  position: absolute;
  left: 1.622rem;
  top: 11.6rem;
  background-color: #9d1515;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP {
  width: 46rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-0 {
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-2 {
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-4 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-6 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-bppk-Y2y .group-229-hpy .tko-personal-training-96-hyP .tko-personal-training-96-hyP-sub-7 {
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 {
  margin-top: 1.3rem;
  width: 50.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ {
  margin-bottom: 3rem;
  width: 100%;
  height: 14.1rem;
  position: relative;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj {
  width: 46rem;
  height: 8.7rem;
  position: absolute;
  left: 2.287rem;
  top: 5.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .tko-personal-training--Zbb {
  max-width: 46rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .tko-personal-training--Zbb .tko-personal-training--Zbb-sub-0 {
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .tko-personal-training--Zbb .tko-personal-training--Zbb-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .tko-personal-training--Zbb .tko-personal-training--Zbb-sub-2 {
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .tko-personal-training--Zbb .tko-personal-training--Zbb-sub-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .auto-group-zyfx-yx9 {
  margin: 0rem 1.394rem 0rem 3.106rem;
  width: calc(100% - 4.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .auto-group-zyfx-yx9 .item--TcR {
  margin-right: 8.55rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .auto-group-zyfx-yx9 .item--XMP {
  margin-right: 6.25rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .group-239-4uj .auto-group-zyfx-yx9 .item--bs3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-20px-AJZ .noto-sans-jp-bold-20px--spZ {
  width: 22.6rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-24px-Jus {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-24px-Jus .noto-sans-jp-bold-24px--Dmw {
  margin-right: 30.5rem;
  max-width: 20.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-p69k-3c1 .auto-group-eszp-Tf3 .noto-sans-jp-bold-24px-Jus .item--6Kw {
  margin-right: 4.4536rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-k8n9-MWm {
  margin-left: 3.9rem;
  width: calc(100% - 3.9rem);
  height: 11rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-k8n9-MWm .px-4AH {
  margin: 0rem 34.3rem 0.9rem 0rem;
  max-width: 22.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: YuGothic, 'Source Sans Pro';
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-k8n9-MWm .noto-sans-jp-bold-48px-hU9 {
  width: 50.8rem;
  height: 100%;
  position: relative;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.requirement-1ho .group-254-kso .auto-group-k8n9-MWm .noto-sans-jp-bold-48px-hU9 .item-96-on5 {
  width: 5.1rem;
  height: 7rem;
  position: absolute;
  left: 20.6464rem;
  top: 4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.requirement-1ho .group-254-kso .auto-group-k8n9-MWm .noto-sans-jp-bold-48px-hU9 .noto-sans-jp-bold-48px--4T7 {
  width: 20.3rem;
  height: 5.8rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
