
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.sample-sp-J13 {
  width: 100%;
  height: 552.3311rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.sample-sp-J13 .bckground-img-m9X {
  width: 37.5rem;
  height: 168.1rem;
  position: absolute;
  left: 0;
  top: 121.2rem;
  overflow: hidden;
  background-color: #222222;
}
.sample-sp-J13 .bckground-img-m9X .rectangle-209-2r9 {
  width: 37.5rem;
  height: 157.335rem;
  position: absolute;
  left: 0;
  top: 3.1053rem;
  background-color: #9d1515;
}
.sample-sp-J13 .bckground-img-m9X .background-iys {
  width: 67.1rem;
  height: 171.2053rem;
  position: absolute;
  left: 0;
  top: -0.0001rem;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w {
  width: 37.5rem;
  height: 552.3311rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sample-sp-J13 .contents-D9w .fv-W93 {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P {
  width: 37.5rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #222222;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .tko-personal-training-Lds {
  width: 10.3rem;
  height: 1.1rem;
  position: absolute;
  left: 0;
  top: 21.0561rem;
  text-align: center;
  font-size: 0.7973rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 {
  width: 49.3rem;
  height: 89.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .rectangle-192-T6D {
  width: 38.5rem;
  height: 86.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .rectangle-192-wn5 {
  width: 26.65rem;
  height: 86.5rem;
  position: absolute;
  left: 5rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .auto-group-ipkh-eAh {
  width: 49.3rem;
  height: 86.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV {
  width: 24.4884rem;
  height: 2.9rem;
  position: absolute;
  left: 1.3rem;
  top: 48.2rem;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .rectangle-196-dYR {
  width: 24.4884rem;
  height: 2.4849rem;
  position: absolute;
  left: 0;
  top: 0.1988rem;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM {
  width: 15.9rem;
  height: 2.9rem;
  position: absolute;
  left: 1.6962rem;
  top: 0;
  font-size: 1.9879rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM .item--jrM-sub-0 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM .item--jrM-sub-1 {
  font-size: 1.7891rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.2326rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM .item--jrM-sub-2 {
  font-size: 1.7891rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM .item--jrM-sub-3 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM .item--jrM-sub-4 {
  font-size: 1.7891rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM .item--jrM-sub-5 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-119-wvV .item--jrM .item--jrM-sub-6 {
  font-size: 1.7891rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm {
  width: 37.8364rem;
  height: 3.4rem;
  position: absolute;
  left: 1.3rem;
  top: 51.7782rem;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .rectangle-195-JiR {
  width: 37.8364rem;
  height: 2.9819rem;
  position: absolute;
  left: 0;
  top: 0.1491rem;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 {
  width: 31.9rem;
  height: 3.4rem;
  position: absolute;
  left: 1.7117rem;
  top: 0;
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-0 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-1 {
  font-size: 1.9879rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-2 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.1372rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-3 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.2058rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-4 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-5 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.4572rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-6 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.2515rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-7 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-8 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.1943rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-9 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-118-ECm .item--cj7 .item--cj7-sub-10 {
  font-size: 1.9879rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs {
  width: 31.6244rem;
  height: 3.6rem;
  position: absolute;
  left: 1.3rem;
  top: 55.8037rem;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .rectangle-197-b97 {
  width: 31.6244rem;
  height: 2.9819rem;
  position: absolute;
  left: 0;
  top: 0.3976rem;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm {
  width: 26rem;
  height: 3.6rem;
  position: absolute;
  left: 1.7145rem;
  top: 0;
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-0 {
  font-size: 2.4849rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-1 {
  font-size: 2.4849rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.2361rem;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-2 {
  font-size: 2.4849rem;
  font-weight: 900;
  line-height: 1.4475;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-3 {
  font-size: 2.4849rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.1739rem;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-4 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.3201rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-5 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.2515rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-6 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.2743rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-7 {
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .group-117-Vbs .item--6Lm .item--6Lm-sub-8 {
  font-size: 2.2861rem;
  font-weight: 900;
  line-height: 1.4475;
  letter-spacing: -0.2058rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .fv-img-27P .mask-group-MJ5 .tko-personal-training-9nD {
  width: 6rem;
  height: 4.7rem;
  position: absolute;
  left: 1.95rem;
  top: 2rem;
  text-align: center;
  font-size: 1.1358rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .fv-W93 .cta-btn-b8R {
  box-sizing: border-box;
  padding: 0.8rem 2.15rem;
  width: 33.5rem;
  height: 4.5rem;
  position: absolute;
  left: 2rem;
  top: 71.2rem;
  border: solid 0.3rem #9d1515;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.sample-sp-J13 .contents-D9w .fv-W93 .cta-btn-b8R .group-250-s5w {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sample-sp-J13 .contents-D9w .fv-W93 .cta-btn-b8R .group-250-s5w .web-b1w {
  margin-right: 8.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .fv-W93 .cta-btn-b8R .group-250-s5w .vector-4AR {
  width: 0.5rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd {
  box-sizing: border-box;
  padding: 3rem 2rem 2.95rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .ribbon-img-9r5 {
  margin-bottom: 3rem;
  width: 100%;
  height: 5.3rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .ribbon-img-9r5 .ribonn-img-rkV {
  width: 33.5rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .cta-4pd .ribbon-img-9r5 .title-y4R {
  width: 25.7rem;
  height: 3.3rem;
  position: absolute;
  left: 4.6rem;
  top: 0.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3625;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 {
  width: 24.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm {
  box-sizing: border-box;
  padding-bottom: 1.95rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-252-EeZ {
  margin: 0rem 3.1rem 1.95rem 0rem;
  width: calc(100% - 3.1rem);
  height: 8.05rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-252-EeZ .group-223-i3w {
  margin-right: 0.95rem;
  box-sizing: border-box;
  padding: 2.147rem 0.894rem 2.203rem 0.894rem;
  width: 8.05rem;
  height: 100%;
  font-size: 2.5044rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-1-59P.png');
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-252-EeZ .group-251-u8R {
  margin: 0.5rem 0rem 0.55rem 0rem;
  height: calc(100% - 1.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-252-EeZ .group-251-u8R .item-4980-PJV {
  margin: 0.7rem 1.5rem 0rem 0rem;
  max-width: 6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-252-EeZ .group-251-u8R .item-0-QjP {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-253-tuT {
  margin-right: 3.1rem;
  width: calc(100% - 3.1rem);
  height: 8.05rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-253-tuT .group-223-zhb {
  margin-right: 0.95rem;
  box-sizing: border-box;
  padding: 2.147rem 0.894rem 2.203rem 0.894rem;
  width: 8.05rem;
  height: 100%;
  font-size: 2.5044rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-1-K17.png');
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-253-tuT .group-251-oQ9 {
  margin: 0.5rem 0rem 0.55rem 0rem;
  height: calc(100% - 1.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-253-tuT .group-251-oQ9 .item--6PF {
  margin: 0.7rem 3rem 0rem 0rem;
  max-width: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .auto-group-lveh-vtm .group-253-tuT .group-251-oQ9 .item-0-9MX {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .group-254-dGh {
  width: 100%;
  height: 8.05rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .group-254-dGh .group-223-woB {
  margin-right: 0.95rem;
  box-sizing: border-box;
  padding: 2.147rem 0.894rem 2.203rem 0.894rem;
  width: 8.05rem;
  height: 100%;
  font-size: 2.5044rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-1-6r9.png');
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .group-254-dGh .item--Mru {
  margin: 0.65rem 1.2rem 0rem 0rem;
  max-width: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .cta-4pd .frame-213-p53 .group-254-dGh .item--nhK {
  margin-bottom: 0.25rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau {
  box-sizing: border-box;
  padding: 5rem 2rem 2.469rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky {
  margin: 0rem 4.45rem 10.105rem 4.45rem;
  width: calc(100% - 8.9rem);
  height: 19.2rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .highlight-Dw3 {
  width: 23.5rem;
  height: 1rem;
  position: absolute;
  left: 0.2041rem;
  top: 14.5rem;
  background-color: #9d1515;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m {
  width: 24.6rem;
  height: 19.2rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-0 {
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-2 {
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-4 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-6 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .group-229-jky .tko-personal-training-96--v4m .tko-personal-training-96--v4m-sub-7 {
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 {
  margin: 0rem 0.25rem 5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .title-jth {
  margin-bottom: 4.9rem;
  width: 18.1rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .title-jth .h2-1bK {
  width: 18.1rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .title-jth .group-231-55P {
  width: 8.5rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 5.2rem;
  display: flex;
  align-items: center;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .title-jth .group-231-55P .vector-35-95F {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .title-jth .group-231-55P .voice-MSD {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #121212;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF {
  margin-left: 0.25rem;
  width: 33rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 {
  margin-bottom: 3rem;
  width: 100%;
  height: 57.1rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .rectangle-188-w33 {
  width: 33rem;
  height: 52.8rem;
  position: absolute;
  left: 0;
  top: 4.3rem;
  box-shadow: 0.5rem 0.5rem 0 #222222;
  background-color: #ffffff;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .item-100-btH {
  width: 29.4rem;
  height: 13.9rem;
  position: absolute;
  left: 1.8rem;
  top: 35rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .ol-jf3 {
  width: 8.9rem;
  height: 2.4rem;
  position: absolute;
  left: 19.9rem;
  top: 51.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff {
  width: 23.9845rem;
  height: 11.9rem;
  position: absolute;
  left: 2.7292rem;
  top: 22.2rem;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .before68kg-HKB {
  width: 11rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .before68kg-HKB .before68kg-HKB-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .before68kg-HKB .before68kg-HKB-sub-1 {
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .before68kg-HKB .before68kg-HKB-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .after48kg-TFb {
  width: 22.7rem;
  height: 9.9rem;
  position: absolute;
  left: 1.2845rem;
  top: 2rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4479999542;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .after48kg-TFb .after48kg-TFb-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .after48kg-TFb .after48kg-TFb-sub-1 {
  font-size: 6.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .group-255-aff .after48kg-TFb .after48kg-TFb-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-256-do3 .women-icon-1-jVw {
  width: 16.1rem;
  height: 21rem;
  position: absolute;
  left: 1.8rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP {
  width: 100%;
  height: 57.1263rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .rectangle-188-JBf {
  width: 33rem;
  height: 52.8rem;
  position: absolute;
  left: 0;
  top: 4.3263rem;
  box-shadow: 0.5rem 0.5rem 0 #222222;
  background-color: #ffffff;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .item-100-ZtH {
  width: 29.4rem;
  height: 13.9rem;
  position: absolute;
  left: 1.8rem;
  top: 35.0263rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .ol-tSh {
  width: 8.9rem;
  height: 2.4rem;
  position: absolute;
  left: 19.9rem;
  top: 51.8263rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs {
  width: 23.9845rem;
  height: 11.9rem;
  position: absolute;
  left: 2.7292rem;
  top: 22.2263rem;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .before72kg-2xD {
  width: 11rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .before72kg-2xD .before72kg-2xD-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .before72kg-2xD .before72kg-2xD-sub-1 {
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .before72kg-2xD .before72kg-2xD-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .after56kg-SuT {
  width: 22.7rem;
  height: 9.9rem;
  position: absolute;
  left: 1.2845rem;
  top: 2rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4479999542;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .after56kg-SuT .after56kg-SuT-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .after56kg-SuT .after56kg-SuT-sub-1 {
  font-size: 6.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .group-255-wfs .after56kg-SuT .after56kg-SuT-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .voice-3W5 .contents-BRF .group-257-PqP .women-icon-2-hcR {
  width: 16.1rem;
  height: 21rem;
  position: absolute;
  left: 1.8rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ {
  margin: 0rem 6.75rem 6.1rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .title-GZ3 {
  margin-bottom: 8.2rem;
  width: 18rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .title-GZ3 .h2-Zo3 {
  width: 12.3rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .title-GZ3 .step-3TK {
  width: 8rem;
  height: 1.7rem;
  position: absolute;
  left: 10rem;
  top: 5.2rem;
  display: flex;
  align-items: center;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .title-GZ3 .step-3TK .vector-35-iZT {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .title-GZ3 .step-3TK .step-QSH {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #121212;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm {
  margin-left: 6.75rem;
  width: 20rem;
  row-gap: 4.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-1-ak5 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-1-ak5 .h4-KBs {
  margin-bottom: 1.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #121212;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-1-ak5 .icontext-ocq {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-1-ak5 .icontext-ocq .icon1-img-Y4d {
  margin-bottom: 2rem;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-1-ak5 .icontext-ocq .text-Ey3 {
  margin: 0 1.85rem;
  width: calc(100% - 3.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-1-ak5 .icontext-ocq .text-Ey3 .h3-xPF {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-1-ak5 .icontext-ocq .text-Ey3 .text-ErZ {
  max-width: 16.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-2-Kd7 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-2-Kd7 .h4-r7F {
  margin-bottom: 1.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #121212;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-2-Kd7 .icontext-wuP {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-2-Kd7 .icontext-wuP .icon2-img-5Eu {
  margin-bottom: 2rem;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-2-Kd7 .icontext-wuP .text-kbw {
  margin: 0 2.75rem;
  width: calc(100% - 5.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-2-Kd7 .icontext-wuP .text-kbw .h3-58R {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-2-Kd7 .icontext-wuP .text-kbw .text-AvZ {
  max-width: 14.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-3-Tem {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-3-Tem .h4-bW5 {
  margin-bottom: 1.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #121212;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-3-Tem .icontext-hJD {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-3-Tem .icontext-hJD .icon-3-pNq {
  margin-bottom: 2rem;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-3-Tem .icontext-hJD .text-iz1 {
  margin: 0 3.35rem;
  width: calc(100% - 6.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-3-Tem .icontext-hJD .text-iz1 .h3-Sf7 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .step-NiZ .contents-JGm .item-3-Tem .icontext-hJD .text-iz1 .text-j8R {
  max-width: 13.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .title-YLm {
  margin-bottom: 3.6rem;
  width: 21.6rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .title-YLm .h2-TCq {
  width: 18.8rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .title-YLm .qa-Hhf {
  width: 8.2rem;
  height: 1.7rem;
  position: absolute;
  left: 13.4rem;
  top: 5.2rem;
  display: flex;
  align-items: center;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .title-YLm .qa-Hhf .vector-35-agm {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .title-YLm .qa-Hhf .qa-gE1 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #121212;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw {
  box-sizing: border-box;
  padding-bottom: 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .line-CLm {
  margin: 0rem 0rem 2rem 0.019rem;
  width: 33.4814rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .item-1-gWq {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .item-1-gWq .auto-group-u1g9-CEH {
  margin: 0rem 0.024rem 1.65rem 0rem;
  width: calc(100% - 0.0237rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .item-1-gWq .auto-group-u1g9-CEH .h4-gv9 {
  margin-right: 19.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .item-1-gWq .auto-group-u1g9-CEH .faq-icon-close-nCV {
  width: 2.7762rem;
  height: 0.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .item-1-gWq .anser-g2y {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .item-1-gWq .anser-g2y .auto-group-jw77-cBX {
  margin: 0rem 0.019rem 1.55rem 0rem;
  box-sizing: border-box;
  padding: 2.1rem 0.967rem 2rem 0.967rem;
  width: calc(100% - 0.0186rem);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/background-color.png');
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .auto-group-r8mt-WTw .item-1-gWq .anser-g2y .line-B89 {
  margin-left: 0.0186rem;
  width: 33.4814rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-2-4hj {
  margin-bottom: 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-2-4hj .auto-group-8zt1-yZo {
  margin: 0rem 0.024rem 1.8rem 0rem;
  width: calc(100% - 0.0238rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-2-4hj .auto-group-8zt1-yZo .h4-4bF {
  margin-right: 19.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-2-4hj .auto-group-8zt1-yZo .faq-icon-plus-mEm {
  width: 2.7762rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-2-4hj .line-sob {
  margin-left: 0.0186rem;
  width: 33.4814rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-3-nff {
  margin-bottom: 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-3-nff .auto-group-swpw-ipD {
  margin: 0rem 0.024rem 1.8rem 0rem;
  width: calc(100% - 0.0238rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-3-nff .auto-group-swpw-ipD .h4-Rid {
  margin-right: 19.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-3-nff .auto-group-swpw-ipD .faq-icon-plus-wBB {
  width: 2.7762rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-3-nff .line-3ED {
  margin-left: 0.0186rem;
  width: 33.4814rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-4-keR {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-4-keR .auto-group-r3wm-VM7 {
  margin: 0rem 0.024rem 1.8rem 0rem;
  width: calc(100% - 0.0238rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-4-keR .auto-group-r3wm-VM7 .h4-PBb {
  margin-right: 19.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #121212;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-4-keR .auto-group-r3wm-VM7 .faq-icon-plus-661 {
  width: 2.7762rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-xvsr-Fau .faq-1Lq .faq-P8R .item-4-keR .line-CPw {
  margin-left: 0.0186rem;
  width: 33.4814rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb {
  width: 100%;
  height: 71.8311rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq {
  box-sizing: border-box;
  padding: 2rem 2rem 5rem 2rem;
  width: 37.5rem;
  height: 69.3rem;
  position: absolute;
  left: 0;
  top: 2.5311rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #222222;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-img-tAH {
  margin: 0rem 2.65rem 3rem 2.65rem;
  width: calc(100% - 5.3rem);
  height: 17.5rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-img-tAH .group-232-ySd {
  width: 100%;
  height: 20.25rem;
  position: relative;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-img-tAH .group-232-ySd .rectangle-208-hdX {
  width: 25.55rem;
  height: 18.75rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-img-tAH .group-232-ySd .mask-group-nus {
  width: 28.2rem;
  height: 20.25rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X {
  margin-bottom: 2.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .ribbon-img-cP7 {
  margin-bottom: 1rem;
  width: 100%;
  height: 5.3rem;
  position: relative;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .ribbon-img-cP7 .ribonn-img-XW5 {
  width: 33.5rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .ribbon-img-cP7 .title-r2Z {
  width: 25.7rem;
  height: 3.3rem;
  position: absolute;
  left: 4.6rem;
  top: 0.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3625;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh {
  margin: 0rem 6.45rem 0rem 2.65rem;
  width: calc(100% - 9.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 {
  box-sizing: border-box;
  padding-bottom: 1.95rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-252-X2D {
  margin: 0rem 3.1rem 1.95rem 0rem;
  width: calc(100% - 3.1rem);
  height: 8.05rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-252-X2D .group-223-Q61 {
  margin-right: 0.95rem;
  box-sizing: border-box;
  padding: 2.147rem 0.894rem 2.203rem 0.894rem;
  width: 8.05rem;
  height: 100%;
  font-size: 2.5044rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-1-yQh.png');
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-252-X2D .group-251-aub {
  margin: 0.5rem 0rem 0.55rem 0rem;
  height: calc(100% - 1.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-252-X2D .group-251-aub .item-4980-VFs {
  margin: 0.7rem 1.5rem 0rem 0rem;
  max-width: 6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-252-X2D .group-251-aub .item-0-iPX {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-253-Qn9 {
  margin-right: 3.1rem;
  width: calc(100% - 3.1rem);
  height: 8.05rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-253-Qn9 .group-223-7wT {
  margin-right: 0.95rem;
  box-sizing: border-box;
  padding: 2.147rem 0.894rem 2.203rem 0.894rem;
  width: 8.05rem;
  height: 100%;
  font-size: 2.5044rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-1-5qw.png');
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-253-Qn9 .group-251-7a5 {
  margin: 0.5rem 0rem 0.55rem 0rem;
  height: calc(100% - 1.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-253-Qn9 .group-251-7a5 .item--1fT {
  margin: 0.7rem 3rem 0rem 0rem;
  max-width: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .auto-group-xqed-oM7 .group-253-Qn9 .group-251-7a5 .item-0-GLV {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .group-254-kmT {
  width: 100%;
  height: 8.05rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .group-254-kmT .group-223-5Hw {
  margin-right: 0.95rem;
  box-sizing: border-box;
  padding: 2.147rem 0.894rem 2.203rem 0.894rem;
  width: 8.05rem;
  height: 100%;
  font-size: 2.5044rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-1-DCy.png');
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .group-254-kmT .item--Heu {
  margin: 0.65rem 1.2rem 0rem 0rem;
  max-width: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .group-258-J7X .frame-213-6Sh .group-254-kmT .item--KrV {
  margin-bottom: 0.25rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-btn-cKo {
  box-sizing: border-box;
  padding: 0.8rem 2.15rem;
  width: 100%;
  height: 4.5rem;
  border: solid 0.3rem #9d1515;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-btn-cKo .group-250-vbP {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-btn-cKo .group-250-vbP .web-eXP {
  margin-right: 8.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #9d1515;
  font-family: Noto Sans JP, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .cta-Dpq .cta-btn-cKo .group-250-vbP .vector-XbB {
  width: 0.5rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .top-icon-zUm {
  box-sizing: border-box;
  padding: 1.1rem 1.3rem 0.4rem 1.3rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 32.5rem;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #9d1515;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .top-icon-zUm .auto-group-dflh-Sbf {
  margin: 0rem 0.028rem 0.381rem 0rem;
  width: 1.3716rem;
  height: 1.4189rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .auto-group-vwfj-hbb .top-icon-zUm .top-7Su {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sample-sp-J13 .contents-D9w .item--bss {
  width: 100%;
  height: 3rem;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3625;
  color: #121212;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  flex-shrink: 0;
}
